-- CreateEnum
CREATE TYPE "MessageType" AS ENUM ('USER_FEEDBACK', 'ADMIN_BROADCAST');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('PURCHASE', 'DEBIT', 'REFUND', 'ADMIN_GRANT', 'BONUS', 'MONTHLY_VOICE');

-- DropIndex
DROP INDEX "idx_audit_log_action";

-- DropIndex
DROP INDEX "idx_audit_log_actor_id";

-- DropIndex
DROP INDEX "idx_audit_log_created_at";

-- AlterTable
ALTER TABLE "Message" DROP COLUMN "archived",
DROP COLUMN "body",
DROP COLUMN "eventId",
DROP COLUMN "eventTitle",
DROP COLUMN "rating",
DROP COLUMN "read",
DROP COLUMN "senderEmail",
DROP COLUMN "senderName",
ADD COLUMN     "authorId" TEXT,
ADD COLUMN     "content" TEXT NOT NULL,
ADD COLUMN     "isPublic" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "subject" TEXT NOT NULL,
DROP COLUMN "type",
ADD COLUMN     "type" "MessageType" NOT NULL;

-- CreateTable
CREATE TABLE "TokenBalance" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "balance" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TokenBalance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TokenTransaction" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "TransactionType" NOT NULL,
    "amount" INTEGER NOT NULL,
    "balanceBefore" INTEGER NOT NULL,
    "balanceAfter" INTEGER NOT NULL,
    "description" TEXT NOT NULL,
    "referenceId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TokenTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VoiceQuota" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "usedThisMonth" INTEGER NOT NULL DEFAULT 0,
    "resetAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VoiceQuota_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RateLimitLog" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RateLimitLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "TokenBalance_userId_key" ON "TokenBalance"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "VoiceQuota_userId_key" ON "VoiceQuota"("userId");

-- CreateIndex
CREATE INDEX "RateLimitLog_key_createdAt_idx" ON "RateLimitLog"("key", "createdAt");

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TokenBalance" ADD CONSTRAINT "TokenBalance_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TokenTransaction" ADD CONSTRAINT "TokenTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VoiceQuota" ADD CONSTRAINT "VoiceQuota_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

